*{
    margin:0;
    padding:0;
    border: none;
    font-family: sans-serif;
}


hr {
    border: 0;
    border-top: 2px solid var(--xam);
    margin-bottom: 25px;
}

.code {
    color: rgb(46, 180, 75);
    background-color: whitesmoke;
    font-size: 15px;
    padding: 3px;
    border-radius: 2px;
    font-family: monospace;
}

:root {
    --xam: #BCBABE;
    --xanh: #90AFC5;
    --trang: #F1F1F2;
}

body {
    background-color: var(--trang);
}

.header {
    height: 120px;
    display: flex;
    justify-content: center;    
}

.title {
    width: 65%;
    background: url(file_ảnh_btl_web/nenhtml.png);
    background-size:50%;
    background-repeat: repeat-x;
    text-align: center;
    margin-top: 20px;
    position: relative;
    border-bottom: 2px solid var(--xanh);
}

.title a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.icon_float {
    width: 70px;
    height: 70px;
    background: url(file_ảnh_btl_web/CSSicon.jpg);
    border: 2px solid var(--xanh);
    border-radius: 50%;
    background-size: 70px;
    top:85px;
    position: absolute;
    outline: 3px solid var(--trang);
}

.float {
    display: flex;
    justify-content: center;
}

.main {
    width: 65%;
    background-color: var(--xanh);
    margin-top: 50px;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
}

.main h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.main p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: justify;
}


.level3 {
    font-weight: bold;
}

.example_list  {
    padding: 10px;
    margin: 20px 0;
    border-left: 4px solid var(--xam);
    background-color: var(--trang);
}

a.highlight:hover {
    color: #ff0000;
    font-size: 22px;
}

div.ava {
    width: 50px;
    height: 50px;
    background: url(file_ảnh_btl_web/girlxinh.jpg);
    background-size: 50px;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
}
div.ava::after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    background-color: #41db51;
    border: 2px solid white;
    border-radius: 50%;
    top: 37px;
    right: 0px;
}

@media screen and (max-width: 800px) {
    .main, .title  {
        width: 100%;/*The width is 100%, when the viewport is 800px or smaller */
    }
} 