*{
    margin:0;
    padding:0;
    border: none;
    font-family: sans-serif;
}


hr {
    border: 0;
    border-top: 2px solid var(--xam);
    margin-bottom: 25px;
}

.code {
    color: rgb(46, 180, 75);
    background-color: whitesmoke;
    font-size: 15px;
    padding: 3px;
    border-radius: 2px;
    font-family: monospace;
}

:root {
    --xam: #BCBABE;
    --xanh: #90AFC5;
    --trang: #F1F1F2;
}

body {
    background-color: var(--trang);
    display: flex;
    justify-content: center;
    width: 100%;
}


.left {
    width: 20%;
    height: 100%;
   
}

.left .mucluc {
    position: fixed;
    width: 20%;
    border-left: 1px solid grey;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.left .mucluc p {
    background-color: var(--xanh);
    padding: 10.6px 0px 10.6px 10px;
    border-radius: 8px;
}

.left .mucluc li {
    list-style: none;
    line-height: 23px;
    padding-left: 10px;
}

.left .mucluc li:hover a {
    color: crimson;
}

.left .mucluc li a {
    text-decoration: none;
}

.right {
    width: 80%;
    background-color: white;
    border-left: grey 1px solid;
}

.header {
    height: 160px;
    display: flex;
    justify-content: center;    
    background: url(file_ảnh_btl_web/nenhtml.png);
    background-size:77%;
    background-repeat: repeat-x;
    margin-top: 20px;
}

.title {
    width: 100%;
    text-align: center;
    margin-top: 95px;
    position: relative;
}

.title a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.icon_float {
    width: 50px;
    height: 50px;
    background: url(file_ảnh_btl_web/JSicon.jpg);
    border: 2px solid var(--xanh);
    border-radius: 50%;
    background-size: 50px;
    top:57px;
    position: absolute;
    outline: 3px solid var(--trang);
}


.menu {
    width: 100%;
    padding: 10px 0px;
    background: white;
    position: fixed;
    z-index: 100;
    top: 0px;
}

.menu ul   {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding-left: 18px;
}

.menu ul li > a {
    text-decoration: none;
    color: black;
}

li.active {
    color: crimson;
}

li:hover {
    color: crimson;
}

.float {
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    background-color: white;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
}

.main h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.main p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: justify;
}

.level3 {
    font-weight: bold;
}

.example_list  {
    padding: 10px;
    margin: 20px 0;
    border-left: 4px solid var(--xam);
    background-color: var(--trang);
}

table, td, th {
    border:1px solid black;
    font-size: 15px;
    background-color: var(--trang);
    padding: 8px;
}

table {
    width:100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

caption {
    font-style: italic;
    margin-top: 10px;
}