*{
    margin:0;
    padding:0;
    border: none;
    font-family: sans-serif;
    
}

body {
    display: flex;
}

:root {
    --vang: rgb(228, 217, 63);
    --xam:#BCBABE;
}

.left-home-about_me {
    background-color:var(--xam);
    width: 25%;
}


.right-review_html_css_js  {
    background-color: whitesmoke;
    width: 75%;
    position: relative;
}


.nav_bar {
    background-color:var(--vang);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding-bottom: 30px;
}

.nav_bar h1 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title h1 {
    text-align: center;
}

.title p {
    color: #000000;
}

.menu {
    display: flex;
    justify-content: center;
}

.float_icon {
    top: 120px;
    width: 400px;
    justify-content: space-between;
    position: absolute;
    display: flex;
    z-index: 100;
}

.float_icon_html, .float_icon_css, .float_icon_js {
    margin-left: 13px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border: rgb(48, 45, 45) solid 2px;
    outline: 2px solid whitesmoke;
    border-radius: 50%;
    
}

.float_icon_html {
    background: url(file_ảnh_btl_web/HTMLicon.jpg);
    background-size: 60px;

}

.float_icon_css {
    background: url(file_ảnh_btl_web/CSSicon.jpg);
    background-size: 60px;
}

.float_icon_js {
    background: url(file_ảnh_btl_web/JSicon.jpg);
    background-size: 60px;
}

.review_html a, .review_css a, .review_js a {
    text-decoration: none;
    color: black;
}

.review_html, .review_css, .review_js {
    width: 100px;
    text-align: center;
    color: black;
}

.review_html:hover .float_icon_html{
    border: red solid 2px;
}

.review_html:hover a{
    color: red;
}

.review_css:hover a{
    color: royalblue;
}

.review_js:hover a{
    color: #afaf22;
}

.review_css:hover .float_icon_css {
    border: royalblue solid 2px;
}

.review_css:hover {
    color: royalblue;
}

.review_js:hover .float_icon_js {
    border: #afaf22 solid 2px;
}

.review_js:hover {
    color: rgb(167, 167, 42);
}

.left-home-about_me {
    display: flex;
    justify-content: center;
}

.left-home-about_me ul.home {
    list-style: none;
}

.left-home-about_me ul.home a {
    text-decoration: none;
}

.list {
    width: 200px;
    margin-top: 25px;
}

.home > li {
    border-top: 1px solid rgba(102, 97, 97, 0.502);
    line-height: 25px;
    color: black;
}

.home > li:last-child {
    margin-top: 25px;
}

.home > li a {
    color: #feffff;
}

.profile {
    margin-top: 10px;
    background-color:whitesmoke;
    font-family:'Courier New', Courier, monospace;
    color: #7a7381;
    font-size:small;
    text-align: center;
    border: 1px solid #66616180;
    border-radius: 2px;
    box-shadow: 2px 4px 3px rgb(151, 142, 142), -2px 4px 3px rgb(151, 142, 142);
}

.profile img {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.main {
    background-color: whitesmoke;
    margin: 95px 85px 0px 85px;
    box-shadow: 1.6px 1.2px 6px rgb(179, 178, 178),-1.6px 2px 6px rgb(182, 182, 182);
}

.main img {
    width: 100%;
    
}

.gtchung {
    margin: 20px;
}

.gtchung h2{
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 20px;
}

.gtchung p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: justify;
}

.footer {
    height: 100px;
    background-color: black;
}

@media screen and (max-width: 800px) {
    .main  {
        margin: 0;/*The width is 100%, when the viewport is 800px or smaller */
    }
} 
